<ion-content [fullscreen]="true" class="login">
  <div class="retroceso">
    <a href="/splash"(click)="Onbtnreturn()"><img src="/assets/images/flecha-izquierda.png" alt="botonderetroceso"></a>
  </div>
  <div class="logologin">
    <img src="/assets/images/GECKPIN-removebg-preview.png" alt="logosplash">
  </div>
  <br>
  <br>
  <br>
  <div class="titulologin">
  <p>LOG IN</p>
  </div>
  <div class="content-container">
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Email" type="text" [(ngModel)]="email" class="inputlogin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" class="inputlogin"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="button-container">
    <ion-button expand="block" (click)="onLoginButtonPressed()">Iniciar Sesión</ion-button>
    <p>¿Aún no tienes cuenta?<span><a href="/register" (click)="onRegisterLinkPressed()">Registrate aquí</a></span></p>
  </div>

</ion-content>
