
<ion-content [fullscreen]="true" class="splash">

<div class="splash-text">
 <p class="descubre">DESCUBRE,</p>
 <p class="crea">CREA,</p>
 <p class="comparte"> COMPARTE</p>
 <p class="nuevasideas">NUEVAS IDEAS</p>
</div>

<div class="logosplash">
  <img src="/assets/images/GECKPIN-removebg-preview.png" alt="logosplash">
</div>

<div #swipeElement class="swipe-box">
  <img src="/assets/images/up-arrow.png" alt="up-arrow">
  <img src="/assets/images/right.png" alt="right">
 
  <br>
  ¡Desliza hacia la derecha para comenzar!
</div>
</ion-content>