<ion-header>
  <ion-toolbar>
      <div class="toolbar-content">
          

          <div class="logohome">
              <img src="/assets/images/GECKPIN-removebg-preview.png" alt="logosplash" class="logo">
          </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="detail">

  <!-- Contenedor para imagen o video -->
  <div class="media-container">
    <img *ngIf="selectedItem?.photoURL" [src]="selectedItem.photoURL" alt="Selected Image">
    <video *ngIf="selectedItem?.type === 'video'" controls>
      <source [src]="selectedItem?.media" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Título -->
  <h1 *ngIf="selectedItem?.descripcion" class="title">{{ selectedItem?.descripcion || 'Sin título disponible' }}</h1>

  

  <!-- Contenedor para la información del usuario -->
  <div class="user-container">
    <div class="user-info">
      
      <p *ngIf="selectedItem?.description" class="description">{{ selectedItem?.descripcion || 'Sin descripción disponible' }}</p>
    </div>
  </div>

  <!-- Botones -->
  <div class="actions">
    <button ion-button class="action-button" (click)="viewFeed()">Ver Feed</button>
    <button ion-button class="action-button" (click)="saveItem()">Guardar</button>
  </div>

  <!-- Botón adicional -->
  <div class="additional-action">
    <button ion-button class="suggest-button" (click)="suggestMore()">Te Podría Interesar</button>
  </div>
</ion-content>
  <ion-footer>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="home" (click)="OnHomeClick()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="addfile" (click)="OnAddFileClick()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Añadir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" (click)="OnProfileClick()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  
    

