@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}
ion-content {
  --background: none; 
}

.profile{
    background-image: url('/assets/images/fondo-register.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloprofile{
    text-align: center;
    font-size: 30px;
}

ion-toolbar {
    --padding-start: 0; 
    --padding-end: 0;
    background: #285943;

}
  .toolbar-content {
    display: flex;
    background: #285943;
    padding-left: 30px;
    height: 90px;
}
  
.back-button{
    max-width: 20px;
    align-self: flex-start;
}

ion-toolbar img{
    width: 60px;
    align-items: center;
    height: auto;
}