<ion-content [fullscreen]="true" class="register">
  <div class="retroceso">
    <a href="/login" (click)="Onbtnreturn()"><img src="/assets/images/flecha-izquierda.png" alt="botonderetroceso"></a>
  </div>
  <div class="logoregister">
    <img src="/assets/images/GECKPIN-removebg-preview.png" alt="logosplash">
  </div>
  <br>
  <br>
  <br>
  <div class="tituloregister">
  <p>Registro</p>
  </div>
  <div class="content-container">
    <div class="input-container">
      <ion-item>
        <ion-input placeholder="Email" type="Email" class="inputlogin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nombre de usuario" type="text" class="inputlogin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" class="inputlogin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Repetir contraseña" type="password" class="inputlogin"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="button-container">
    <ion-button expand="block" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
  </div>

</ion-content>

